@font-face {
    font-family: 'AintNothingFancy';
    src: url('~@/assets/fonts/AintNothingFancy.tts') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LightStories';
    src: url('@/assets/fonts/LightStories.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

